<header class="busca">
  <h1 class="index">Resultado da sua busca:</h1><br>
</header>
<br><br>
<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>E-mail</th>
  </tr>
{{#each contato}}
<tr>
  <td> {{dataValues.nome}}</td>
  <td>{{dataValues.telefone}}</td>
  <td>{{dataValues.email}}</td>
  <td><a href='/editar/{{dataValues.id}}'><img src="img/editar_icon.png" alt="Editar" width="30px"></a></td>
  <td><a href='/deletar/{{dataValues.id}}'><img src="img/deletar_icon.png" alt="Deletar" width="30px"></a></td>
</tr>
{{/each}}
</table>
<div class="voltar">
  <br><br>
  <a href="/"><button>Voltar</button></a>
</div>
